.blog-index-item {
  padding: 0 20px;
}

.blog-index-item-title {
  font-size: 1.8em;
}

.blog-index-item-title a {
  text-decoration: none;
  color: rgb(74, 103, 178);
}

.blog-index-item-time {
  display: inline-block;
  height: 30px;
  font-size: 1.3em;
}

.blog-index-item-label {
  display: inline-block;
  height: 30px;
  font-size: 1.3em;
}

.blog-index-item-desc {
  font-size: 1.3em;
}

.blog-index-item-desc-more {
  float: right;
}