.blog {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(https://ooo.0o0.ooo/2016/06/20/5768c606cf9cb.jpg);
}

.blog-container {
  width: 90%;
  height: auto;
  min-height: 100%;
  margin: 50px 0;
}