@import '~highlight.js/styles/atom-one-dark.css';

.blog-article-area {
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
}

.blog-article-title {
  width: 100%;
  height: 100px;
  font-size: 2em;
  text-align: center;
  line-height: 100px;
}

.blog-article-time {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}

.blog-article-body {
  width: 100%;
  padding: 10px 40px 20px 40px;
  line-height: 1.6;
}

.blog-article-body h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

.blog-article-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

.blog-article-body h3 {
  font-size: 1.25em;
}

.blog-article-body h4 {
  font-size: 1.15em;
}

.blog-article-body p {
  margin-top: 0;
  margin-bottom: 16px;
}

.blog-article-body ul, ol {
  padding-left: 1.2em;
}

.blog-article-body li {
  margin-top: .25em;
}

.blog-article-body blockquote {
  padding: 1px 10px;
  border-left: 2px solid black;
  background: rgb(200, 200, 200);
}

.blog-article-body p code,  
.blog-article-body ul code  {
  display: inline-block;
  margin: 0 2px;
  padding: 0 4px;
  color: rgb(29, 31, 33);
  border-radius: 3px;
  line-height: 20px;
  background: rgb(200, 200, 200);
  border: 1px solid #ddd;
}

.blog-article-body pre code {
  display: block;
  margin: 20px 0px;
  overflow-x: auto;
  padding: 0.5em;
  background: rgb(29, 31, 33);
  color: rgb(200, 200, 200);
  padding: 10px 20px;
  font-family: Consolas;
  font-size: 1.2em;
  line-height: 1.5;
  border-radius: 10px;
}

.blog-article-body table {
  width: 100%;
  border: 1px solid;
  font-size: 1.2em;
  border-collapse: collapse;
}

.blog-article-body p>img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.blog-article-body th, .blog-article-body td {
  height: 50px;
  padding: 0px 20px;
  text-align: center;
  vertical-align: middle;
}

.blog-article-body table>tbody>tr:nth-child(odd)>td, .blog-article-body table>tbody>tr:nth-child(odd)>th {
  background-color: #f9f9f9;
}
