.blog-common-list {
  margin-top: 50px;
  padding: 0 20px;
}

.blog-common-list-title {
  font-size: 26px;
  color: rgb(107, 107, 107);
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
}

.blog-common-list-item {

}